/* Fondo responsivo */
BorderPane {
    -fx-background-image: url("../../../RECURSOS/Animado.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#header {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

#headerTitle {
    -fx-padding: 15;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 24px;
    -fx-text-fill: #2c3e50;
}

#welcomeTitle {
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-font-size: 28px;
}

#imageOverlay {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-padding: 5;
    -fx-alignment: center;
}

#imageTitle {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#roomDescription {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#footer {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 15;
}

#redButton {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}

#redButton:hover {
    -fx-background-color: #c0392b;
    -fx-cursor: hand;
}

#redButton:pressed {
    -fx-background-color: #a93226;
}